<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <% @jobs.each do |job| %>
      <tr>
        <td><%= link_to(job.title, job_path(job)) %></td>
      </tr>
      <% end %>
    </div>
  </div>
</div>
